body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

header {
    background:#333 ;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.product {
    border: 1px solid #ddd;
    width: 200px;
    padding: 15px;
    margin: 10px;
    text-align: center;
}
.product img {
    width: 100%;
    height: auto;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3 ease;
}

button:hover {
    background: #218838;
}
